 <%= form_for(@course) do |f| %>
    <% if @course.errors.any? %>
      <div class="alert alert-error">
        <p class="text-error"e><%= pluralize(@course.errors.count, "error") %> prohibited this event from being saved:</p>
      
        <ul>
          <% @course.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= f.label "Course Name"%>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label "Course Description" %>
      <%= f.text_area :description, :rows => 10, :cols => 25 %>
    </p>

    <p>
      <%= f.label "Course Category" %>
      <%= f.collection_select  :category_id, Category.all, :id, :name, size: 60%>
    </p>

    <p>
      <%= f.submit :class => 'button' %>
    </p>
<% end %>